<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BarCodeBinhDuong - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @await RenderSectionAsync("CSS", required: false)
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- #region name -->
        <!-- #endregion -->
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">


            <!-- Divider -->
            <hr class="sidebar-divider my-0">



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="padding: 0px;margin: 5px;">

                <img class="img-thumbnail" src="~/img/logo-new.jpg" />
                <h3 class="mt-2 p-1 text-center bg-gradient-light font-weight-bolder text-primary">BÁO GIÁ & QUẢN LÝ GIÁ</h3>
            </div>
            <div class="sidebar-heading" style="padding: 0px;margin: 5px;">
                Menu
            </div>
            @*@await Component.InvokeAsync("Menu")*@
            <!-- Nav Item - Dashboard -->
            @*<li class="nav-item ">
                <a class="nav-link" asp-action="Index" asp-controller="Order">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span></span>
                </a>
                </li>*@

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFirst"
                   aria-expanded="true" aria-controls="collapseFirst">
                    @* <i class="fas fa-fw fa-cog"></i>*@
                    <span>Báo giá</span>
                </a>
                <div id="collapseFirst" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" @*asp-action="KnifeList" asp-controller="Manager"*@>Quản lý báo giá</a>
                        <a class="collapse-item" asp-action="CreateQuotation" asp-controller="Quotation">Tạo báo giá</a>
                        <a class="collapse-item" @*asp-action="ColorLossList" asp-controller="Manager"*@>Báo giá chờ phê duyệt</a>
                        <a class="collapse-item" asp-action="CreateUnitPrice" asp-controller="Quotation">Tạo đơn giá</a>
                        <a class="collapse-item" asp-action="UnitPriceList" asp-controller="Quotation">DS đơn giá</a>

                        @*  <a class="collapse-item" href="cards.html">Cards</a>*@
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecond"
                   aria-expanded="true" aria-controls="collapseSecond">
                    @*<i class="fas fa-fw fa-cog"></i>*@
                    <span>Nguyên liệu & giá thành</span>
                </a>
                <div id="collapseSecond" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="m-0 collapse-item" asp-action="ManagerGroupMaterial" asp-controller="Material">Quản lý nhóm nguyên liệu</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="ManagerMaterial" asp-controller="Material">Quản lý nguyên liệu</a>
                        <a class="m-0 collapse-item overflow-scroll" @*asp-action="ManagerGroupMaterialPrice" asp-controller="Material"*@>Quản lý giá nguyên liệu(nhóm)</a>
                        <a class="m-0 collapse-item overflow-scroll" @*asp-action="ManagerMaterialPrice" asp-controller="Material"*@>Quản lý giá nguyên liệu(chi tiết)</a>
                        
                        @* <a class="collapse-item" asp-action="StageList" asp-controller="Manager">Công đoạn</a>
                            <a class="collapse-item" asp-action="MachineList" asp-controller="Manager">Máy</a>*@
                        @*  <a class="collapse-item" href="cards.html">Cards</a>*@
                        <a class="w-auto m-0 nav-link text-black collapse-item collapsed menu-level-2" href="#" data-toggle="collapse" data-target="#collapse-11"
                           aria-expanded="true" aria-controls="collapse-11">
                            <span>Quản lý giấy</span>
                        </a>
                        <div id="collapse-11" class="collapse" aria-labelledby="headingTwo" data-parent="#collapseSecond">
                            <div class="m-0 py-2 collapse-inner rounded">
                                <a class="collapse-item text-secondary menu-level-3 " asp-controller="Paper" asp-action="GlueList">Quản lý keo</a>
                                <a class="collapse-item text-secondary menu-level-3 " asp-controller="Paper" asp-action="SoleList">Quản lý đế</a>
                                <a class="collapse-item text-secondary menu-level-3 " asp-controller="Paper" asp-action="PaperTypeMainList">Quản lý loại</a>
                                <a class="collapse-item text-secondary menu-level-3 " asp-controller="Paper" asp-action="PaperTypeList">Quản lý mã hàng</a>
                                <a class="collapse-item text-secondary menu-level-3 " asp-controller="Paper" asp-action="PaperList">Danh sách thông tin giấy</a>
                            </div>
                        </div>

                        <a class="m-0 collapse-item overflow-scroll" asp-action="MachineConfigList" asp-controller="Config">Quản lý máy</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="ConfigFeeList" asp-controller="Config">Phân bổ chi phí</a>
                    </div>

                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThird"
                   aria-expanded="true" aria-controls="collapseThird">
                    @*<i class="fas fa-fw fa-cog"></i>*@
                    <span>Hệ thống</span>
                </a>
                <div id="collapseThird" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="m-0 collapse-item overflow-scroll" asp-action="CodeLevel1List" asp-controller="CodeManagement">Quản lý code lv1</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="CodeLevel2List" asp-controller="CodeManagement">Quản lý code lv2</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="STA0010MaterialMasterList" asp-controller="Warehouse">Mã code NVL</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="STA0020MaterialSupplierLOTNOList" asp-controller="Warehouse">LOT nhập NVL</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="STA0020MaterialInventoryList" asp-controller="Warehouse">Tồn kho LOT nhập</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="STA0030MaterialSupplierROWNOList" asp-controller="Warehouse">Chi tiết tồn kho</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="STA1010MaterialInOutLogList" asp-controller="Warehouse">Lịch sử nhập/ xuất kho</a>
                        <a class="m-0 collapse-item overflow-scroll" asp-action="STB0010BarcodePrintingLogList" asp-controller="Warehouse">Lịch sử xuất barcode NVL</a>
                    </div>

                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white @*topbar*@ mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                        </button>
                        </div>
                        </div>
                        </form>*@

                    <!-- Topbar Navbar -->
                    @*<ul class="navbar-nav ml-auto"> Login

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                        placeholder="Search for..." aria-label="Search"
                        aria-describedby="basic-addon2">
                        <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                        </button>
                        </div>
                        </div>
                        </form>
                        </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <!--<li class="nav-item dropdown no-arrow mx-1">

                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>-->
                        <!-- Counter - Alerts -->
                        <!--<span class="badge badge-danger badge-counter">3+</span>
                        </a>-->
                        <!-- Dropdown - Alerts -->
                        <!--<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                        Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                        <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                        </div>
                        </div>
                        <div>
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                        <div class="icon-circle bg-success">
                        <i class="fas fa-donate text-white"></i>
                        </div>
                        </div>
                        <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                        $290.29 has been deposited into your account!
                        </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                        <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                        </div>
                        <div>
                        <div class="small text-gray-500">December 2, 2019</div>
                        Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                        </li>-->
                        <!-- Nav Item - Messages -->
                        <!--<li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>-->
                        <!-- Counter - Messages -->
                        <!--<span class="badge badge-danger badge-counter">7</span>
                        </a>-->
                        <!-- Dropdown - Messages -->
                        <!--<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">
                        Message Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="~/img/undraw_profile_1.svg"
                        alt="...">
                        <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                        <div class="text-truncate">
                        Hi there! I am wondering if you can help me with a
                        problem I've been having.
                        </div>
                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="~/img/undraw_profile_2.svg"
                        alt="...">
                        <div class="status-indicator"></div>
                        </div>
                        <div>
                        <div class="text-truncate">
                        I have the photos that you ordered last month, how
                        would you like them sent to you?
                        </div>
                        <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="~/img/undraw_profile_3.svg"
                        alt="...">
                        <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                        <div class="text-truncate">
                        Last month's report looks great, I am very happy with
                        the progress so far, keep up the good work!
                        </div>
                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                        alt="...">
                        <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                        <div class="text-truncate">
                        Am I a good boy? The reason I ask is because someone
                        told me that people say this to all dogs, even if they aren't good...
                        </div>
                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                        </li>-->

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                        <input type="hidden" id="sessionGroup" value="@ViewData["sessionGroup"]" />
                        <input type="hidden" id="sessionId" value="@ViewData["sessionId"]" />
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="session">@ViewBag.userName</span>
                        <img class="img-profile rounded-circle"
                        src="~/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                        </a>
                        <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                        </a>
                        <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                        </a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                        </a>
                        </div>
                        </li>

                        </ul>*@

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
        </div>
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white d-none">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    @*</div>*
        @*</div>*@
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn đăng xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                @*<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>*@
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
                    <form class="user" asp-action="Logout" asp-controller="Login" method="post">
                        <button class="btn btn-primary">Đồng ý</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="myModalLabel">Đăng nhập</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Tài khoản" id="inputUserName" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Mật khẩu"
                               type="password" id="inputPassword" />
                    </div>
                    <input type="hidden" id="inputUrl" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="loginFunction()">Đăng nhập</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    @*<script src="~/js/multiselect.min.js"></script>*@



    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
    <script src="~/js/site.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    @*<script>
        $(document).ready(function () {
        var group = document.getElementById('sessionGroup').value;
        if (group == "01") {
        //alert(group);
        }
        else if (group == "02") {
        //alert("Không phải group" + group);
        $('#menu-order').addClass("btn disabled");
        $('#menu-product').addClass("btn disabled");
        $('#menu-customer').addClass("btn disabled");
        $('#create-plan').addClass("btn disabled");
        }
        else {
        alert("Bạn không thuộc nhóm nào");
        }
        });
        </script>*@

    <script>
           document.addEventListener("DOMContentLoaded", function () {
               // make it as accordion for smaller screens
               if (window.innerWidth < 992) {

                   // close all inner dropdowns when parent is closed
                   document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                       everydropdown.addEventListener('hidden.bs.dropdown', function () {
                           // after dropdown is hidden, then find all submenus
                           this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                               // hide every submenu as well
                               everysubmenu.style.display = 'none';
                           });
                       })
                   });

                   document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                       element.addEventListener('click', function (e) {
                           let nextEl = this.nextElementSibling;
                           if (nextEl && nextEl.classList.contains('submenu')) {
                               // prevent opening link if link needs to open dropdown
                               e.preventDefault();
                               if (nextEl.style.display == 'block') {
                                   nextEl.style.display = 'none';
                               } else {
                                   nextEl.style.display = 'block';
                               }

                           }
                       });
                   })
               }
               // end if innerWidth
           });

             function   loginFunction(e) {

            var userName = $("#inputUserName").val();
               var password = $("#inputPassword").val();
               var redirectUrl = $("#inputUrl").val();
               //var stage_2 = $("#stage_2_Edit").val();
               //var stage_3 = $("#stage_3_Edit").val();
               //var stage_4 = $("#stage_4_Edit").val();
               //var stage_5 = $("#stage_5_Edit").val();

               var model = { UserName : userName,  Password: password, RedirectUrl: redirectUrl};
               console.log(model);
          var url = "/Login/Login";

            $.ajax({
                  type: "POST",
                  url: url,
                  dataType: 'JSON',
                  contentType: 'application/json; charset=utf-8',
                  data: JSON.stringify(model),
                  async: true,
                  success: function (mess) {
                      if (mess.isSuccessResult == false) {
                          $("#msg").removeClass("text-success");
                          $("#msg").addClass("text-danger");
                          $("#msg").html(mess.result);
                           alert(mess.result);
                      }
                      else {
                          $("#msg").removeClass("text-danger");
                          $("#msg").addClass("text-success");
                          $("#msg").html(mess.result);
                           //alert(mess.result);
                           completeProduction(true)
                           // location.href =mess.redirectUrl;
                      }
                    //  location.reload();
                      //setTimeout(function () {// wait for 5 secs(2)
                      //    location.reload(); // then reload the page.(3)
                      //}, 5000);

                  },
                  error: function (err) {

                      $("#msg").removeClass("text-success");
                      $("#msg").addClass("text-danger");
                      $("#msg").html("Error: " + err);
                      alert(err.responseText);
                      //setTimeout(function () {// wait for 5 secs(2)
                      //    location.reload(); // then reload the page.(3)
                      //}, 5000);
                  }

              });

        }

         function   setUrl(url) {
             $('#inputUrl').val(url);
         }

    </script>
</body>

</html>